@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	overflow-y: scroll;
	background-color: #111;
	color: #fff;
	font-family: 'Roboto', Arial, sans-serif;
}

.text-white {
	color: #fff;
}

.main-content {
	background-color: #f6f8fa;
	color: #000;
	font-size: 14px;
}

.bold {
	font-weight: 900;
}

.form-control {
	border-radius: 5px;
	height: 28px;
	font-size: 14px;
}

.background-dark {
	background-color: #24292e;
}

.background-grey {
	border: 0px solid #111;
	background-color: #404448; 
}

.btn {
	line-height: normal;
	height: 28px;
	font-size: 14px;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.space-between {
	justify-content: space-between;
}

.animes-info {
	padding-right: auto;
}
.animes-info div p.indent {
	text-indent: 2em;
	text-align: justify;
}

.list {
	overflow-y: hidden;
	height: 100vh;
	transition: overflow-y 1s;
}

.list:hover {
	overflow-y: scroll;
}

li.anime {
	cursor: pointer;
}

ul {
	list-style-type: none;
}